.banner{
    background: var(--azul-texto);
    color: var(--branco);
    font-family: var(--fonte-principal);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 1.2rem;
    font-weight: 700;
}

.banner__texto{
    font-weight: 400;
    font-size: 1rem;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 1.5rem;
    color: var(--branco);
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    text-align: center;
    color: var(--branco);
    background: url("../assets/IMG/Pesquisa.svg") no-repeat;
   
   
}